<ion-view style="background: #f2f2f2">
  <ion-content class="login-style">
    <div class="list has-header">
      <label class="item item-input">
        <input type="text" placeholder="请输入手机号码/账号/邮箱">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="请输入密码">
      </label>
    </div>
    <div style="text-align: center">
      <a class="button-login" href="#/user-name" nav-direction="forward">登录</a>
    </div>
    <p class="login-text">
      <a>海外手机号请点击这里</a>
    </p>
  </ion-content>
  <a class="ion-close-round login-close" href="#/home" nav-direction="back"></a>
</ion-view>
