<ion-header-bar class="login-bar">
  <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/home" nav-direction="back"></a>
  <h1 class="title">手机号（1/4）</h1>
</ion-header-bar>
<ion-view class="view-container login-div" ng-controller="PopupCtrl">
  <div class="list has-header">
    <label class="item item-icon-right">
      中国（+ 86）
      <i class="icon ion-ios-arrow-right" style="color:#cbcbcb;"></i>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="手机号码">
    </label>
    <div class="padding" style="margin-top: 10px; text-align: center">
      <a class="login-btn-clear" nav-direction="forward" ng-click="showPopup()">下一步</a>
    </div>
    <p class="login-text" style="margin-top: 0">
      点击下一步表示同意《用户协议》
    </p>
  </div>
</ion-view>
