<ion-header-bar class="login-bar">
  <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/home" nav-direction="back"></a>
  <h1 class="title">手机号（1/4）</h1>
</ion-header-bar>
<ion-view>
  <div class="list has-header">
    <label class="item item-input">
      <input type="text" placeholder="区号">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="手机号码">
    </label>
  </div>
  <div class="padding">
    <a class="button button-block button-positive" href="#/user-name" nav-direction="forward">下一步</a>
  </div>
</ion-view>
