<ion-header-bar align-title="left" class="bar-dark">
  <div class="h1 title">微信(16)</div>
  <div class="buttons">
    <button class="button no-animation button-icon icon ion-android-search">
    </button>
    <button class="button no-animation button-icon icon ion-android-add">
    </button>
  </div>
</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()">
  <ion-content class="ion-content">
    <div class="home-item">
      <div class="home-item-top clearfix">
          <span class="h-t-face">
            <img src="http://img5.duitang.com/uploads/item/201408/04/20140804000708_vB3Sh.jpeg">
          </span>

        <p>
          <span class="color_a852cf">黎明</span><br>
          15分钟前
        </p>
      </div>
      <div class="home-item-img clearfix">
        <img ng-click="showImages(0)" src="img/pic1.jpg">
      </div>
      <div class="home-item-detail">
        <p class="content">想要红包800元找人唱歌</p>

        <p class="property">20岁·165cm·46kg</p>
      </div>
    </div>
    <div class="home-item">
      <div class="home-item-top clearfix">
          <span class="h-t-face">
            <img  src="http://cdn.duitang.com/uploads/item/201411/24/20141124213556_Ljxsn.jpeg">
          </span>

        <p>
          <span class="color_a852cf">黎明</span><br>
          15分钟前
        </p>
      </div>
      <div class="home-item-img clearfix">
        <img ng-click="showImages(0)" src="img/pic1.jpg">
      </div>
      <div class="home-item-detail">
        <p class="content">想要红包800元找人唱歌</p>

        <p class="property">20岁·165cm·46kg</p>
      </div>
    </div>
    <div class="home-item">
      <div class="home-item-top clearfix">
          <span class="h-t-face">
            <img src="http://tp4.sinaimg.cn/1729948927/180/5735009727/1">
          </span>

        <p>
          <span class="color_a852cf">黎明</span><br>
          15分钟前
        </p>
      </div>
      <div class="home-item-img clearfix">
        <img ng-click="showImages(0)" src="img/pic1.jpg">
      </div>
      <div class="home-item-detail">
        <p class="content">想要红包800元找人唱歌</p>

        <p class="property">20岁·165cm·46kg</p>
      </div>
    </div>
  </ion-content>
</ion-view>
