<ion-header-bar align-title="left" class="bar-dark">
  <div class="h1 title">微信(16)</div>
  <div class="buttons">
    <button class="button no-animation button-icon icon ion-android-search">
    </button>
    <button class="button no-animation button-icon icon ion-android-add">
    </button>
  </div>
</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
  <ion-content class="ion-content">
    动态
    <a ng-click="toggleLeftSideMenu()">点点点</a>
  </ion-content>
</ion-view>
