/* Empty. Add your own CSS if you like */
body a{
  text-decoration: none;
}
.radio-inline{
  -webkit-box-flex:1;
  flex: 1 220px;
}
.radio-inline .item{
  border: none;
  width: 50%;
  float: left;
  padding-top: 6px;
  padding-bottom: 6px;
}
.radio-inline .item .checkbox{
  margin-top: -14px;
  padding: 2px 7px;
}

/*背景*/
.home-bg{
  background: url("../img/79bac96c788978475d6364e5f462effa.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
}
.landing-bg{
  background: url("../img/b14c2800f42becaf4d627debb812a326.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
}
.home-div{
  width: 100%;
  position: absolute;
  bottom: 2.35vh;
}
.home-bg a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.button-register{
  font-size: 16px;
  display: inline-block;
  width: 68.5%;
  height: 35px;
  line-height: 35px;
  background: #da293d;
  border-radius: 8px;
}
.login-bar{
  background: #373737;
  color: #fff;
  font-size: 18px;
}
/*login.html*/
.login-close{
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;
  font-size: 30px;
}
.login-style {
  background: #f2f2f2;
}
.login-style .has-header{
  top: 0;
  margin-top: 33vh;
}
.login-btn-clear{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 83.4%;
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
  border-radius: 1.2vh;
  background: #dcdcdc;
}
.button-login{
  background: #da293d;
  cursor: pointer;
}
.login-text{
  margin-top: 2vh;
  padding: 0 10%;
}
.login-text a{
  color: #2a2a2a;
}
.login-bar .button{
  color: #fff !important;
}
.login-bar .title{
  color: #fff;
  font-size: 18px;
}
.view-container{
  background: #e3e3e3;
}
.login-div .has-header{
  top: 60px;
}

.jumpTo{
  position: absolute;
  right: 30px;
  top: 30px;
  border: 1px solid #d5d5d5;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  color: #fff;
  background: #000;
  border-radius: 15px;
  opacity: .3;
}
